@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  height: 350px;
  padding: 1px;
  color: #354A9F;
  margin: 0 auto;
}

.App-title {
  font-size: 5.5em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

/*
About
 */

.App-about {
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  background-color: #354A9F;
  color: white;
  padding: 50px;
}

.App-about h1, .App-about h2, .App-about p {
  font-weight: 100;
}

.App-about h2 {
  font-family: 'Space Mono', monospace;
  display: inline-block;
  padding-bottom: 5px;
}

.App-about p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.App-about svg {
  display: block;
  font-size: 60px;
}

.App-about-element {
  padding-right: 80px;
  padding-left: 80px;
}

/*
Past event & collabs
 */

.App-next {
  background-color: #FCFCFC;
  color: #354A9F;
  height: auto;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.App-next p {
  max-width: 300px;
}

.App-next .event-info {
  display: inline-block;
}

.collabs {
  padding-left: 60px;
  padding-right: 60px;
}

.collabs img {
  max-width: 100%;
  width: 300px;
  display: block;
}

.collabs .row {
  padding-top:50px;
}

/*
Map
 */

.App-map {
  background-color: #354A9F;
  color: white;
  padding-bottom: 40px;
}

.App-map h2 {
  font-family: 'Space Mono', monospace;
  padding-bottom: 20px;
}

.App-map p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.App-map svg {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
}

/*
Colour Scheme
 */

.blue {
  color: #354A9F;
  background-color: #354A9F;
}

.grey {
  color: #253237;
  background-color: #253237;
}

.white {
  color: #FCFCFC;
  background-color: #FCFCFC;
}

/*
Mobile
 */

 @media(max-width:576px) {
   .App-title {
     font-size: 4.5em;
   }

   .App-about-element {
     padding-right: 20px;
     padding-left: 20px;
   }

   .collabs {
     padding-left: 20px;
     padding-right: 20px;
   }

   .collabs .row {
     padding-top:0;
   }
 }
